body{
    margin: 0;
    padding: 0;
}
#header{
    width: 100%;
    text-align: center;
    padding-top: 46;
}

#slogan{
     width: 100%;
    text-align: right;
}

h1{
    color: coral;
    font-family: fantasy;
    font-size: 52px;
    text-align: center;
    margin-bottom: 0.2em;
}

h1 span{
    display: inline;
}

h2{
    color: sandybrown;
    font-family: fantasy;
    font-size: 14px;
    margin-top: 0.1em;
}

#loginForm{
    align-content: center;
}